
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --colore-primario: #000000; 
    --colore-secondario: #000000;
    --colore-sfondo: #f4f7f6;
    --colore-testo: #333;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    font-family: 'Playfair Display', serif;
    line-height:1.6;
    color:var(--colore-testo);
    background-color:var(--colore-sfondo);
    max-width:1400px;
    margin:0 auto;
}

a{
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

h2, h3, h4 {
    margin-bottom: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav {
    margin-left: 100px;
    margin-right: 150px;
}

header h1 {
    font-size: 24px;
    line-height: 1.1;
    font-weight: 900;
    color: var(--colore-primario);
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 30px;
}

header nav ul li a:hover {
    color: #d5ba85;
}


.cta-button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 20px 60px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #d5ba85;
}

#hero {
  background-image: url('../img/HotelPomelia.png');
  background-size: cover;
  background-position: center;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5)  
}

.hero-content {
color: white;
padding: 30px;
max-width: 900px;
}

#hero h2 {
    font-family: 'Playfair Display', serif;
    font-size: 56px;
    margin-bottom:20px;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#hero p {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#sostenibilità {
    padding: 80px 50px;
    text-align: center;
}

#sostenibilità h3 {
    font-size: 36px;
    margin-bottom: 60px;
    color: var(--colore-primario);
}

.certificazioni-link {
   display: flex;
   justify-content: center;
   margin-top: 80px;
   margin-bottom: -10px; 
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}

.featured-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s, box-shadow 0.3s;
}

.featured-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.featured-card h4 {
    color: #555;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}

.certificazioni {
    font-style: italic;
    font-size: 16px;
    color: #666;
}

footer {
    background-color: var(--colore-primario);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 14px;
}

.social-links a i {
    font-size: 24px;
    line-height: 1;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 80px;
}

.feature-card {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); 
    border-radius: 5px;
    position: relative; 
    overflow: hidden; 
    transition: box-shadow 0.3s;
}


.card-img {
    width: 100%;
   
    height: 300px; 
    object-fit: cover;
    display: block;
    border-radius: 5px 5px 0 0;
    transition: transform 0.4s ease-out;
}


.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px; 
    
    
    background-color: rgba(54, 69, 79, 0.7); 
    color: white;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
    pointer-events: none;
}


.feature-card:hover .card-overlay {
    opacity: 1; 
    transform: translateY(0); 
    pointer-events: auto; 
}

.feature-card:hover .card-img {
    transform: scale(1.05); 
}

.card-title {
    
    font-family: 'Playfair Display', serif; 
    font-size: 24px;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    margin: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s;
}

.card-title:hover {
    background-color: rgba(255, 255, 255, 0.3);
}


.card-description {
    padding: 20px 20px 30px 20px;
}

.certificazione-cta {
    font-size: 16px;
    color: var(--colore-testo);
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    padding: 15px 25px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.certificazione-cta:hover {
    color: var(--colore-secondario); 
    border-color: var(--colore-primario);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.certificazione-highlight {
    
    font-family: 'Playfair Display', serif; 
    font-size: 32px; 
    font-weight: 700;
    color: var(--colore-primario); 
    font-style: normal; 
    margin: 5px 0; 
}

footer {
    background-color: var(--colore-primario);
    color: white;
    text-align: center;
    padding: 30px 50px;
    margin-top: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo {
    max-width: 200px;
    height: auto;
    display: block;
}
